{% extends 'app/base.html' %}
{% load static %}

{% block choose %}
<div class="choose_section layout_padding">
    <div class="container">
        <h1 class="choose_taital" id="forgot">New Password</h1>
        <form action="{% url 'new-password' id %}#forgot" method="POST">
            {%include 'app/messages.html'%}
            {% csrf_token %}
            <div class="form-group">
                <label for="{{form.password.id_for_label}}" class="col-sm-12 col-form-label">{{form.password.label}} {%if form.password.field.required%}<i style="color:red">*</i>{%endif%}</label>
                {{form.password}}
            </div>
            <button class="btn btn-danger" type="submit">Apply new password</button>
        </form>
    </div>
 </div>
{% endblock %}