{% extends 'app/base.html' %}
{% load static %}

{% block choose %}
<div class="choose_section layout_padding">
    <div class="container">
        <h1 class="choose_taital" id="login">Login</h1>
        <form action="{% url 'signin' %}" method="POST">
            {%include 'app/messages.html'%}
            {% csrf_token %}
            <div class="form-group">
                <label for="{{form.email.id_for_label}}" class="col-sm-12 col-form-label">{{form.email.label}} {%if form.email.field.required%}<i style="color:red">*</i>{%endif%}</label>
                {{form.email}}
            </div>
            <div class="form-group">
                <label for="{{form.password.id_for_label}}" class="col-sm-4 col-form-label">{{form.password.label}} {%if form.password.field.required%}<i style="color:red">*</i>{%endif%}</label>
                {{form.password}}
                <a href="{% url 'forgot-password' %}#forgot" style="color:red; font-size: 8pt; float: right;">Forgot Password?</a>
            </div>
            <button class="btn btn-success btn-lg" type="submit">Login</button>
        </form>
    </div>
 </div>
{% endblock %}